@import url(default.css);
@import url(common.css);
@import url(layout.css);
/*
    파일명 : main.css
    작성자 : 이찬우
    작성일 : 2024.04.24
    설  명 : 메인페이지에만 들어가는 스타일을 저장 (header, footer 빼고 전부 다)
*/

.main {background-color: #F6F7F2; height: 100%;}
.main .inner {position: relative; display: flex; justify-content: space-around;}
.main .inner::before {position: absolute; top: -364px; right: 0; width: 1px; height: 1080px; background-color: #3d3d3d; content: "";}
.main .inner::after {position: absolute; bottom: -82px; right: -320px; width: 1920px; height: 1px; background-color: #3d3d3d; content: "";}
.main .introduce h2 {color: #1d1d1d; font-size: 36px; margin-bottom: 32px;}
.main .introduce h2 strong {font-size: 64px; font-weight: 700;}
.main .introduce h2 span {font-weight: 700;}
.main .introduce p {font-size: 20px; width: 517px;}
.main .information {font-size: 24px;}
.main .information .info_inner {display: flex; flex-direction: column;}
.main .information .name {font-size: 32px;  margin-bottom: 66px}
.main .information .name strong {margin-right: 108px;}
.main .information .age {display: flex;}
.main .information .age strong {margin-right: 158px;}
.main .information .contacts {display: flex; margin: 66px 0;}
.main .information .contacts strong {margin-right: 103px;}
.main .information .skill {display: flex;}
.main .information .skill strong {margin-right: 158px;}

.summary {position: relative; background: url(/portfolio/images/main/summary.png) no-repeat center center / contain;}
.summary h2 {font-size: 64px; font-weight: 700;}
.summary p {font-size: 32px; margin: 30px 0 380px 0; padding-left: 251px;}

.bread1 {position: relative; background: url(/portfolio/images/main/bread1.png) no-repeat center center / contain;}
.bread1 .inner {display: flex; flex-direction: row-reverse;}
.bread1 .b1_text {padding-left: 58px;}
.bread1 h2 {font-size: 50px; font-weight: 700;}
.bread1 h3 {font-size: 26px; font-weight: 700; margin-top: 50px; }
.bread1 p {font-size: 24px;}
.bread1 .b1_text2 {display: flex;}
.bread1 .b1_text2 .Participation {margin-right:40px;}
.bread1 .site_button a {display: inline-block; position: relative; margin-top: 95px; padding: 18px 91px 18px 30px; border: 1px solid rgba(45, 45, 45, 1); font-size: 26px;} 
.bread1 .site_button a::after {position: absolute; top: 19px;right: 30px; width: 30px; height: 30px; content: ""; background-repeat: no-repeat; background-position: center center; background-size: contain; background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0625 15.9374H7.8125C7.54688 15.9374 7.32422 15.8476 7.14453 15.6678C6.96484 15.488 6.875 15.2653 6.875 14.9996C6.875 14.7338 6.96484 14.5112 7.14453 14.3317C7.32422 14.1522 7.54688 14.0625 7.8125 14.0625H14.0625V7.8125C14.0625 7.54688 14.1524 7.32422 14.3321 7.14453C14.5119 6.96484 14.7346 6.875 15.0004 6.875C15.2661 6.875 15.4887 6.96484 15.6682 7.14453C15.8477 7.32422 15.9374 7.54688 15.9374 7.8125V14.0625H22.1874C22.4531 14.0625 22.6757 14.1524 22.8554 14.3321C23.0351 14.5119 23.1249 14.7346 23.1249 15.0004C23.1249 15.2661 23.0351 15.4887 22.8554 15.6682C22.6757 15.8477 22.4531 15.9374 22.1874 15.9374H15.9374V22.1874C15.9374 22.4531 15.8476 22.6757 15.6678 22.8554C15.488 23.0351 15.2653 23.1249 14.9996 23.1249C14.7338 23.1249 14.5112 23.0351 14.3317 22.8554C14.1522 22.6757 14.0625 22.4531 14.0625 22.1874V15.9374Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A");}

.bread2 {position: relative; color: #fff; background: url(/portfolio/images/main/bread2.png) no-repeat center center / contain;}
.bread2 .inner {display: flex; justify-content: space-between;}
.bread2 .b2_txt {width: 327px;}
.bread2 h2 {font-size: 32px; margin-bottom: 103px;}
.bread2 h3 {font-size: 20px; font-weight: 700; margin-bottom: 20px;}
.bread2 .b2_img {display: flex; align-items: center;}
.bread2 .b2_img .img1 {margin-right: 30px; margin-bottom: 157px;}
.bread2 .b2_img .img2 {margin-top: 128px;}

.police1 {position: relative; color: #fff; background: url(/portfolio/images/main/police1.png) no-repeat center center / contain;} 
.police1 {display: flex; justify-content: space-between;}
.police1 h2 {font-size: 50px; font-weight: 700; padding-top: 130px;}
.police1 h3 {font-size: 26px; font-weight: 700; margin: 39px 0 0 0;}
.police1 .memo {width: 405px; margin: 10px 0 20px 0;}
.police1 .inner2 {display: flex;}
.police1 .inner2 .participation {margin-right: 38px;}
.police1 .site_button a {display: inline-block; position: relative; margin-top: 60px; padding: 18px 91px 18px 30px; border: 1px solid rgba(255, 255, 255, 1); font-size: 26px;} 
.police1 .site_button a::after {position: absolute; top: 19px;right: 30px; width: 30px; height: 30px; content: ""; background-repeat: no-repeat; background-position: center center; background-size: contain; background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0625 15.9374H7.8125C7.54688 15.9374 7.32422 15.8476 7.14453 15.6678C6.96484 15.488 6.875 15.2653 6.875 14.9996C6.875 14.7338 6.96484 14.5112 7.14453 14.3317C7.32422 14.1522 7.54688 14.0625 7.8125 14.0625H14.0625V7.8125C14.0625 7.54688 14.1524 7.32422 14.3321 7.14453C14.5119 6.96484 14.7346 6.875 15.0004 6.875C15.2661 6.875 15.4887 6.96484 15.6682 7.14453C15.8477 7.32422 15.9374 7.54688 15.9374 7.8125V14.0625H22.1874C22.4531 14.0625 22.6757 14.1524 22.8554 14.3321C23.0351 14.5119 23.1249 14.7346 23.1249 15.0004C23.1249 15.2661 23.0351 15.4887 22.8554 15.6682C22.6757 15.8477 22.4531 15.9374 22.1874 15.9374H15.9374V22.1874C15.9374 22.4531 15.8476 22.6757 15.6678 22.8554C15.488 23.0351 15.2653 23.1249 14.9996 23.1249C14.7338 23.1249 14.5112 23.0351 14.3317 22.8554C14.1522 22.6757 14.0625 22.4531 14.0625 22.1874V15.9374Z' fill='white'/%3E%3C/svg%3E%0A");}

.police2 {position: relative; color: #1d1d1d; font-size: 20px; background: url(/portfolio/images/main/police2.png);}
.police2 .inner {display: flex;}
.police2 h2 {font-size: 20px; padding-top: 120px;}
.police2 h3 {font-size: 32px; font-weight: 700; margin: 60px 0 30px 0;}
.police2 .memo {width: 516px;}
.police2 .police2_img {display: flex; align-items: flex-end; flex-direction: column;}
.police2 .police2_img .img1 {padding-top: 20px;}
.police2 .police2_img .img2 {margin: 35px 0 35px 0;}

.footer {height: 919px; background-color: #fff;}
.footer h2 {text-align: center; color: #1d1d1d; font-weight: 700; font-size: 60px;}

#fp-nav.fp-left {left: 20px;}
#fp-nav ul li, .fp-slidesNav ul li {width: 11px; height: 11px;}
#fp-nav ul li a, .fp-slidesNav ul li a {border: 1px solid rgba(45, 45, 45, 1); border-radius: 100%;}
#fp-nav ul li a span, .fp-slidesNav ul li a span {background: none;}
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {background-color: #3d3d3d;}